# ==========================================
# MEDIA / ARCHIVOS SUBIDOS POR USUARIOS
# ==========================================
media/
media/ordenes/
media/firmas/
media/recepcion/


# ==========================================
# BASE DE DATOS LOCAL
# ==========================================
db.sqlite3


# ==========================================
# VARIABLES DE ENTORNO
# ==========================================
.env


# ==========================================
# ARCHIVOS DE DATOS / MIGRACIONES
# ==========================================

# Ignorar JSON en general
*.json

# Este JSON sí debe poder versionarse
!repuestos_exportados.json

# Ignorar JSON históricos de Getsoft
/migraciones/getsoft/*.json

# EXCEPCIÓN:
# Este archivo sí se subirá a GitHub
!/migraciones/getsoft/ordenes_getsoft_limpias.json


# ==========================================
# ENTORNO VIRTUAL
# ==========================================
venv/


# ==========================================
# CACHE PYTHON
# ==========================================
__pycache__/
*.pyc


# ==========================================
# STATICFILES DE PRODUCCIÓN
# ==========================================
staticfiles/